[Unit]
Description=Waydroid session on Xvfb/Weston
After=weston-xvfb.service
Requires=weston-xvfb.service

[Service]
Type=simple
User=kanthai
Environment=DISPLAY=:0
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/1000
ExecStart=/usr/bin/waydroid session start
ExecStop=/usr/bin/waydroid session stop
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
